

.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
    align-items: center;
}

.form__button {
    margin-top: 30px;
    text-align: center;
}

.form__button-home {
    padding: 10px;
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: rgb(117, 75, 23);
    color: #fff;
    cursor: pointer;
}